<!-- <div *ngIf="check">
        <h1 align=center>WelCome To Trainer Skill Deletion DashBoard</h1>
        <div class="container">
            <form #trainerForm="ngForm">
                <div class="form-group">
                        <label>Employee Id</label>
                        <input #tid="ngModel" type="text"  required [class.is-invalid]="tid.invalid && tid.touched" class="form-control" placeholder="Enter Your ID " name="trainerId" [(ngModel)]="Id"/>
                        <div *ngIf="tid.errors && (tid.invalid || tid.touched)">
                                <small class="text-danger" *ngIf="tid.errors.required && tid.touched" >Employee Id is Required</small>
                        
                        
                        </div>
                </div>
                <button class="btn btn-primary"  (click)=deleteSkills()>Delete Skill</button>
    
            </form>
    </div>
     <div *ngIf="response">
        <h2 align=center style="color: red"></h2>
    </div>
    </div> -->
    <div *ngIf="check">
            <h1 align=center style="color:tomato">Trainer Skill Deletion DashBoard</h1>
            <div class="container">
                <form #trainerForm="ngForm">
                    <div class="form-group">
                            <label>Enter Skill Id</label>
                            <input #tid="ngModel" type="text"  required [class.is-invalid]="tid.invalid && tid.touched" class="form-control" placeholder="Enter Your ID " name="trainerId" [(ngModel)]="Id"/>
                            <div *ngIf="tid.errors && (tid.invalid || tid.touched)">
                                    <small class="text-danger" *ngIf="tid.errors.required && tid.touched" >Employee Id is Required</small>
                                    <!-- <small class="text-danger" *ngIf="tid.errors.pattern" >Employee Id Should not start with zero and max length is 5</small> -->
                            
                            
                                </div>
                    </div>
                    <button class="btn btn-primary"  (click)= deleteSkills()>Del Skill</button>
        
                </form>
        </div> 
          
           
           
          
        
        </div>
        <div *ngIf="response">
<h2 align=center style="color: red">{{message}}</h2>

        </div>
        
